---
breadcrumb: PCF Application Watchdog Documentation
title: Installing PCF Application Watchdog
owner: PCF Application Watchdog
---

Pivotal Cloud Foundry (PCF) Application Watchdog monitors information about applications deployed on Cloud Foundry, including:

* Tracking application dependencies
* Identifying outdated dependencies
* Listing dependency licenses
* Detecting known security vulnerabilities in dependencies

## <a id='install'></a>Installing PCF Application Watchdog

### <a id='pre-reqs'></a>Prerequisites

Application Watchdog depends on the following tiles:

* [Pivotal Elastic Runtime](http://docs.pivotal.io/pivotalcf/installing/index.html)
* [Pivotal MySQL](http://docs.pivotal.io/p-mysql/1-8/index.html)

Application Watchdog also requires a MySQL service plan with a minimum size of 1GB. If your MySQL tile does not have a plan of sufficient size, you must [create one](http://docs.pivotal.io/p-mysql/1-8/index.html#service-plan).
<p class='note'>**Note:** If you try to install Application Watchdog with a MySQL service plan that is less than 1GB, it will fail to install.</p>

### <a id='step1'></a> Step 1: Add the PCF Application Watchdog Tile to Ops Manager

1. Download the PCF Application Watchdog tile from
   [Pivotal Network](https://network.pivotal.io/products/pcf-appdog).
1. Upload the PCF Application Watchdog tile to your Ops Manager installation.
1. Click **Add** next to the uploaded product description in the **Available Products**
   view to add PCF Application Watchdog to your **Installation Dashboard**.

### <a id='step2'></a>Step 2: Configure the PCF Application Watchdog Tile

From the **Installation Dashboard**, click the **PCF Application Watchdog** tile.

<p class='note'><strong>Note:</strong> The tile appears orange when it requires configuration.</p>

#### Availability Zones (AZs) and Networks.

You can leave the default settings for this section.

#### Scanning Options

If you leave the default settings in **Scanning**, Application Watchdog will scan all applications in your Cloud Foundry Deployment.

If you would like to restrict scanning to a set of orgs and/or spaces, you can click the "Add" button in the **Org/Space Whitelist** section:

![Scanning](docs-appdog-scanning.png)

If you leave the **Space** field empty, all applications in the listed org will be scanned.

#### MySQL Settings

The only required setting for Application Watchdog is the MySQL service plan. You can see a list of available service plans by looking in the settings for your Pivotal MySQL tile, or also by running `cf marketplace -s p-mysql` when you are logged into Cloud Foundry.

For example, if you have a service plan named `1gb`:
![MySQL Settings](docs-appdog-mysql.png)

   <p class='note'>**Note:** If you misspell your service plan name, **or** if your service plan has less than 1GB of space, Application Watchdog will fail to deploy.</p>

#### Errands

You can leave the default settings for this section.

#### Resource Config

You can leave the default settings for this section.

#### Stemcell

You can leave the default settings for this section.

### <a id='step3'></a>Step 3: Deploy PCF Application Watchdog

Click **Apply Changes** to install the service. Review the [Using PCF Application Watchdog](using.html) topic for more information on how to connect, use, and interpret data from PCF Application Watchdog.

### <a id='performance-issues'></a> Performance Issues

By default, Application Watchdog deploys one server instance with 1.5GB of memory, and four worker instances with 1GB of memory each to the `system` org and `appdog` space.

If you want to increase the number server or worker instances, you can manually target the Application Watchdog space and rescale using `cf scale`, for example:

```
cf target -o system -s appdog
cf scale -i 8 appdog-worker
```

would rescale the workers from four to eight.

<p class='note'>Note: Every time the deploy errand is run, it will reset the instance number and memory size for the Application Watchdog server and workers to the default values.</p>
