---
breadcrumb: PCF Application Watchdog Documentation
title: PCF Application Watchdog
owner: PCF Application Watchdog
---

This topic introduces the Pivotal Cloud Foundry (PCF) Application Watchdog service. 

##<a id="overview"></a>Overview
The Application Watchdog service monitors information about apps deployed on Cloud Foundry, including:

* Tracking app dependencies
* Identifying outdated dependencies
* Listing dependency licenses
* Detecting known security vulnerabilities in dependencies

<p class="note"><strong>Note</strong>: Application Watchdog currently only supports scanning Java and Ruby apps.</p>

Application Watchdog obtains its data from multiple sources. This includes dependency manifests and files present in deployed apps. It obtains library version information from [rubygems.org](https://rubygems.org), [search.maven.org](https://search.maven.org) and license information using [License Finder](https://github.com/pivotal/LicenseFinder).

Application Watchdog determines vulnerability information using publicly available data sources such as the [National Vulnerability Database](https://nvd.nist.gov/).

##<a id="snapshot"></a> Product Snapshot

<dl>
<dt>Current PCF Application Watchdog details:</dt>
<dd><strong>Version</strong>: 1.0.0 </dd>
<dd><strong>Release date</strong>: September 2016</dd>
<dd><strong>Software component version</strong>:  </dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: v1.7.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

##<a id="snapshot"></a> Guide to PCF Application Watchdog

The Application Watchdog tile and service are documented in the following topics:

* [Installing PCF Application Watchdog](installing.html)
* [Using PCF Application Watchdog](using.html)
* [Troubleshooting PCF Application Watchdog](troubleshooting.html)
* [Release Notes and Known Issues](rn-ki.html)
