---
breadcrumb: PCF Application Watchdog Documentation
title: Installing the PCF Application Watchdog Tile
owner: PCF Application Watchdog
---

This topic describes how to install and deploy the Pivotal Cloud Foundry (PCF) Application Watchdog tile.

## <a id='pre-reqs'></a>Prerequisites

Before installing the Application Watchdog tile, ensure that you have following: 

* [Pivotal Elastic Runtime](http://docs.pivotal.io/pivotalcf/installing/index.html)
* [Pivotal MySQL](http://docs.pivotal.io/p-mysql/1-8/index.html)
* A MySQL service plan with a minimum size of 1&nbsp;GB. If your MySQL tile does not have a plan of sufficient size, you must [create one](http://docs.pivotal.io/p-mysql/1-8/index.html#service-plan). 

## <a id='add-tile'></a> Add the Application Watchdog Tile to Ops Manager

1. Download the PCF Application Watchdog tile from
   [Pivotal Network](https://network.pivotal.io/products/pcf-appdog).
1. Upload the Application Watchdog tile to your Ops Manager installation.
1. Click **Add** next to the uploaded product description in the **Available Products**
   view to add Application Watchdog to your **Installation Dashboard**.

## <a id='config'></a>Configure the Application Watchdog Tile

1. From the **Installation Dashboard**, click the **PCF Application Watchdog** tile.
   <p class='note'><strong>Note:</strong> The tile appears orange when it requires configuration.</p>

1. Keep the default settings for the **Assign AZs and Networks** pane.

1. Click **Scanning**. By default, Application Watchdog scans all apps in your deployment.  
To restrict scanning to a set of orgs and/or spaces, click **Add** in the **Org/Space Whitelist** section and enter an org and space:
    ![Scanning](docs-appdog-scanning.png)

    If you leave the **Space** field empty, Application Watchdog scans all apps in the org.

1. Click **MySQL** and enter the name of a MySQL service plan. You can view a list of available service plans in your **Pivotal MySQL** tile settings or by running `cf marketplace -s p-mysql` on the command line. 
	![MySQL Settings](docs-appdog-mysql.png)

	<p class='note'><strong>Note</strong>: Application Watchdog fails to install if the size of your MySQL service plan is less than 1&nbsp;GB.</p>

1. Keep the default settings for the **Errands** pane. 
   * The **deploy** errand pushes the Application Watchdog server and worker to the `system` org and `appdog` space and creates a UAA client and a Pivotal MySQL database instance.
   * The **smoke test** errand makes sure the [health-check endpoint](#healthcheck) returns true for all required components and verifies that Application Watchdog has successfully scanned itself.
   * The **delete** errand destroys the `appdog` space and deletes the Application Watchdog database instance and UAA client.

1. Keep the default settings for the **Resource Config** and **Stemcell** panes. 

1. Click **Apply Changes** to install the service. Review the [Using PCF Application Watchdog](using.html) topic for information on how to install the Application Watchdog plugin, target your Application Watchdog server, and view data. 

