---
breadcrumb: PCF Application Watchdog Documentation
title: Using PCF Application Watchdog
owner: PCF Application Watchdog
---

This topic describes how to log in to and use Pivotal Cloud Foundry (PCF) Application Watchdog. Application Watchdog provides data about application dependencies, licenses, and possible security vulnerabilities.

Application Watchdog obtains its data from multiple sources. This includes dependency manifests and files present in deployed applications. It obtains library version information from [rubygems.org](https://rubygems.org), [search.maven.org](https://search.maven.org) and license information using [License Finder](https://github.com/pivotal/LicenseFinder).

PCF Application Watchdog determines vulnerability information using publically available data sources such as the [National Vulnerability Database](https://nvd.nist.gov/).

<p class="note"><strong>Note</strong>: Application Watchdog currently only supports scanning Java and Ruby applications.</p>

##<a id='get-started'></a> Install the Plugin and Target the Application Watchdog Server

The following sections describe how to install the Application Watchdog plugin and target the application server.

###Install the Application Watchdog Plugin

To install the Application Watchdog plugin, perfom the following:

1. Download the plugin for your platform:  
     * https://s3.amazonaws.com/appdog-cli-images/osx/appdog-cli-0.9.0-b39-osx.tgz.
     * **ADD LINK TO WINDOWS AND LINUX PLUGINS**

1. Extract the plugin archive, which contains a single file called `appdog-cli.

1. Run the following command to install the plugin: 
   <pre class="terminal">$ cf install plugin PATH/TO/appdog-cli</pre>

###Target the Application Server

After installing the Application Watchdog plugin, run the following command to target the application server:

   <pre class="terminal">$ cf appdog target http<span>s</span>://appdog-server.YOUR-SYSTEM-DOMAIN.</pre>

###Verify the Application Server

To verify that the application server is working, run the following command:

  <pre class="terminal">$ cf appdog report</pre>

##<a id="help"></a> Run the Help Command 

To output a summary of all appdog commands, run `cf appdog help`. Run `cf appdog help <command>` to get usage information on a particular command, for example:

<pre class="terminal">
$ cf appdog help using
NAME:
   cf appdog using - Provides a list of all apps using a given dependency

USAGE:
   cf appdog using [command options] &lt;dependency&gt; [[<,>,!=]&lt;version&gt;] 
     [ --org &lt;myorg&gt; --space &lt;myspace&gt;] 

   Note: To use '<', '>', or '!=' operators, use single quotes. Ex: cf ad using jre '>1.8.0'

OPTIONS:
   --org value, -o value    Organization
   --space value, -s value  Space
   --buildpacks             Only apps with buildpack-added dependencies
</pre>

##<a id='scan'></a>  View Scanned Applications

The following sections describe how to list applications and view their scan reports. Application Watchdog scans an application several minutes after deployment. An application is rescanned after being redeployed. Applications are also rescanned daily.

###<a id='scanning-apps'></a> List Applications

To see a summary of all applications scanned by Application Watchdog, run the `report` command. The following example shows four successfully scanned applications. 

<pre class="terminal">
$ cf appdog report
Connecting to appdog server https://appdog-server.local.pcfdev.io...
app name        org          space          last scan update           scan status
apps-manager    system       system         2016-08-09T18:13:12.000Z   failed (language not supported)
notifications   pcfdev-org   pcfdev-space   2016-08-09T18:13:13.000Z   failed (language not supported)
appdog-server   pcfdev-org   pcfdev-space   2016-08-09T18:14:04.000Z   scanned successfully
appdog-worker   pcfdev-org   pcfdev-space   2016-08-09T18:14:07.000Z   scanned successfully
test-app1       test-org     test-space     2016-08-09T18:21:28.000Z   scanned successfully
test-app2       test-org     test-space     2016-08-09T18:23:57.000Z   scanned successfully
</pre>

###<a id='scan-reports'></a> View Scan Reports

To see a report on the application `test-appl` located in the org `test-org` and space `test-space`, run `cf appdog report my-org my-space my-app`. For example:

<pre class="terminal">
$ cf appdog report test-org test-space test-app1
Connecting to appdog server https://appdog-server.local.pcfdev.io...
The latest scan status for this app was: scanned

Detected Buildpack Name / Version: ruby 1.6.16

Detected Language & Version: ruby 2.2.4p230 (2015-12-16 revision 53155) [x86_64-linux]

Application Dependencies
library name      library version   latest version available   license
rack              1.5.2             2.0.1                      MIT
rack-protection   1.5.2             1.5.3                      MIT
sinatra           1.4.4             1.4.7                      MIT
tilt              1.4.1             2.0.5                      MIT

CVEs in Application Dependencies
CVE             CVSS Severity   Dependency   URL                                                              CWE
CVE-2015-3225   5.0             rack:1.5.2   https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2015-3225   CWE-19 Data Handling
</pre>

This example shows that `test-app1` is a Ruby Application running Ruby 2.2.4, and deployed with the Cloud Foundry Ruby Buildpack version 1.6.16.

The output also shows that the application has some outdated dependencies, and the rack dependency has a published security vulnerability.

##<a id='notifications'></a> Subscribe to Email Notifications

Use the commands in the list below to subscribe to or opt out of email notifications:

* **Vulnerabilities**: To receive emails about new vulnerabilities found in an application, run the following command:
   <pre class="terminal">$ cf appdog opt-in-vulnerability MY-ORG MY-SPACE MY-APP command.</pre>
* **Dependencies**: To receive emails about outdated dependencies in an application, run the following command: 
   <pre class="terminal">$ cf appdog opt-in-dependency MY-ORG MY-SPACE MY-APP</pre>
* **Dependencies and Vulnerabilities**: Subscribe to both vulnerability and dependency emails by running the following command:
   <pre class="terminal">$ cf appdog opt-in-all</pre>
* **No Emails**: Opt out of subscriptions by either clicking the unsubscribe link in the email, or by running the following command: 
   <pre class="terminal">$ cf appdog opt-out-all MY-APP</pre>


For CVE's, PCF Application Watchdog sends emails to your login name if a CVE with a [Common Vulnerability Scoring System (CVSS)](https://www.first.org/cvss) score of 7.0 or higher is identified within an application. 

For Dependencies, emails are sent to your Cloud Foundry email address if any dependency in the application has a newer version available from the maintainer. The email includes the name of the app, and a list of the CVEs affecting it. 

## <a id='find'></a> Find Apps by Property

The following sections describe how to find application based on specific characteristics.

###<a id='appdog-updates'></a>Find Applications with Outdated Dependencies

To identify all outdated dependencies in an org or space or app, use the `cf appdog updates` command.  For example, the following command lists all outdated dependencies in `test-org` and `test-space`:

<pre class="terminal">
$ cf appdog updates --org test-org --space test-space
Connecting to appdog server https://appdog-server.local.pcfdev.io...


Updates for:

   Dependency Name                                           Org        Space        App_Name    Current         Latest
   ch.qos.logback:logback-classic                            test-org   test-space   test-app2   1.1.5           1.1.7
   ch.qos.logback:logback-core                               test-org   test-space   test-app2   1.1.5           1.1.7
   org.springframework.boot:spring-boot-starter-web          test-org   test-space   test-app2   1.3.3.RELEASE   1.4.0.RELEASE
   org.yaml:snakeyaml                                        test-org   test-space   test-app2   1.16            1.17
   rack                                                      test-org   test-space   test-app1   1.5.2           2.0.1
   rack-protection                                           test-org   test-space   test-app1   1.5.2           1.5.3
   sinatra                                                   test-org   test-space   test-app1   1.4.4           1.4.7
   tilt                                                      test-org   test-space   test-app1   1.4.1           2.0.5


* denotes the dependency was added by a buildpack
</pre>

To find outdated dependencies for a single application, run the following command:

<pre class="terminal">$ cf appdog updates --org test-org --space test-space test-app</pre>

###<a id='appdog-using'></a> Find Applications Using a Specific Library

To find applications using a specific dependency, run the `cf appdog using` command. For example, `cf appdog using tomcat` returns the following:


<pre class="terminal">
$ cf appdog using tomcat
Connecting to appdog server https://appdog-server.local.pcfdev.io...
tomcat is used in: 1 org(s) and 1 space(s):

App         Org        Space        URL
test-app2   test-org   test-space   test-app2.local.pcfdev.io
* denotes the dependency was added by a buildpack
</pre>

Optionally, specify a dependency version, or range of versions, with a second argument as shown in the following commands: 

* `cf appdog using spring 4.2.7` 
* `cf appdog using tomcat '<8.2>'`

<p class="note"><strong>Note</strong>: You must include quotes for <code><</code> or <code>></code> so that the shell does not interpret these as redirections.</p> 

To limit your search to a specific org or space us the `--org` and `--space` options.

The Java Buildpack my provide some dependencies, indicated by an asterisk. For example, the buildpack usually injects Java Runtime:

<pre class="terminal">
$ cf appdog using openjdk-jre
openjdk-jre is used in: 1 org(s) and 1 space(s):

App            Org        Space        URL
test-app2(*)   test-org   test-space   test-app2.local.pcfdev.io
* denotes the dependency was added by a buildpack
</pre>


###<a id='appdog-cve'></a> Find Applications with a Given CVE

To list applications vulnerable to a specific CVE, run `cf appdog cve`. For example, to view Spring applications affected by [CVE-2016-5007](https://pivotal.io/security/cve-2016-5007), run the following command:

<pre class="terminal">
$  
CVE-2016-5007 was found in:

App Name    Org        Space
test-app2   test-org   test-space
</pre>

To limit your search to a specific org or space, use the `--org` and `--space` options.

###<a id='appdog-cvss'></a> Find Applications with Vulnerabilities of a Specific Severity

To list applications with vulnerabilities of a specific severity, run `cf appdog cvss`. For example, to list applications affected by vulnerabilities with a score greater than 7, run the following command:

<pre class="terminal">
$ cf appdog cvss '>7'
1 apps have a severity score >7:

App         #of cve's >7   Org        Space
test-app2   15             test-org   test-space
</pre>

<p class="note"><strong>Note</strong>: You must include quotes for <code><</code> or <code>></code> so that the shell does not interpret these as redirections.</p>

To limit your search to a specific org or space, use the `--org` and `--space` options.

###<a id='appdog-license'></a> Find Applications with Dependencies on a Specific License

To list applications with dependencies on a specific license, run `cf appdog license`. For example, to list applications with MIT licensed dependencies, run the following command:

<pre class="terminal">
$ cf appdog license MIT
MIT was found in:

App Name        Org          Space          License
appdog-server   pcfdev-org   pcfdev-space   MIT
appdog-server   pcfdev-org   pcfdev-space   New Relic,MIT,ruby
appdog-worker   pcfdev-org   pcfdev-space   MIT
appdog-worker   pcfdev-org   pcfdev-space   New Relic,MIT,ruby
test-app1       test-org     test-space     MIT
test-app2       test-org     test-space     MIT
</pre>

You can also limit your search to a given org or space with `--org` and `--space`.

##<a id='list'></a>List App Dependencies

The following sections describe how to list app dependencies.

###<a id='appdog-dependencies'></a>List Dependencies of an Application

To list dependencies of a given application, you can use the command `cf appdog dependencies`. For example, to list dependencies of the `appdog-server`, run the command:

<pre class="terminal">
$ cf appdog dependencies --org pcfdev-org --space pcfdev-space appdog-server
Application Dependencies       Current Version
actionmailer                   4.2.6
actionpack                     4.2.6
actionview                     4.2.6
activejob                      4.2.6
activemodel                    4.2.6
activerecord                   4.2.6
activesupport                  4.2.6
[...]
xml-simple                     1.1.5
</pre>

To specify the org and space of the app, use the `--org` and `--space` options. If you do not specify
an org and space, the command returns information for the currently targeted org and space.

###<a id='appdog-dependencies'></a>List Information about a Dependency for a Specific Application

To list information about a dependency for a specific application, run `cf appdog dependency-info`. For example, to list information about `activerecord` for `appdog-server`, you can run:

<pre class="terminal">
$ cf appdog dependency-info --org pcfdev-org --space pcfdev-space appdog-server activerecord
Name           Version   Latest Version   License
activerecord   4.2.6     5.0.0.1          MIT
</pre>

To specify the org and space of the app, use the `--org` and `--space` options. If you do not specify
an org and space, the command returns information for the currently targeted org and space.


